Source: remotecontrolclient
Section: python
Priority: extra
Maintainer: Manuel Francisco Naranjo <manuel@aircable.net>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.4), python-setuptools, python-twisted-conch
Standards-Version: 3.9.1
Homepage: https://github.com/manuelnaranjo/remotecontrolclient
Vcs-Git: git://github.com/manuelnaranjo/remotecontrolclient.git
Vcs-Browser: https://manuelnaranjo@github.com/manuelnaranjo/remotecontrolclient.git

Package: remotecontrolclient
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}, python-twisted-conch
Description: Remote Control Client
 This application will create an ssh reverse tunnel to your targetted server
 using ssh pubkeys as authentication method
